@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Ayuda";
    //// En esta parte se han de colocar los manuales del aplicativo WEb
}


<div class="container">
    <div class="row" style="margin-top:20%">
        <div class="col-md-4">
            <div class="Ayuda" style="height: 246px;">
                <h2 class="h2_Help" style="margin-top: 16%;">Manual de Usuario</h2>
                <button type="button" class="btn btn-primary btn-primary_help"><a href="~/Manuales/" target="_blank">Descargas</a></button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Ayuda">
                <h2 class="h2_Help">Acerca de la plataforma Web</h2>
                <button type="button" class="btn btn-primary btn-primary_help">Descargar</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Ayuda">
                <h2 class="h2_Help">Acerca de la plataforma Móvil</h2>
                <button type="button" class="btn btn-primary btn-primary_help" >Descargar</button>
            </div>
        </div>
    </div>
</div>

