@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Quienes Somos";
}

<div class="container">
    <div class="row" style="margin-top:20%">
        <div class="col-md-4">
            <div class="QuienesSomos">
                <h4 class="h4_QS">Quiénes somos</h4>
                <p align="justify">
                    Somos la solución para las estaciones de servicio que buscan un programa para la fidelización de sus clientes, mediante la acumulación de puntos por compra de combustible. Contamos con un equipo enfocado plenamente a las soluciones basadas siempre en la calidad y excelencia para la gestión de los procesos.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="QuienesSomos">
                <h4 class="h4_QS">Misión</h4>
                <p align="justify">
                    Proporcionar la tecnología de manera innovadora a medida de las necesidades de las Estaciones De Servicios, con el objetivo de incrementar su competitividad, productividad y fidelización.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="QuienesSomos">
                <h4 class="h4_QS">Visión</h4>
                <p align="justify">
                    Queremos estar comprometidos con los problemas de nuestros clientes de forma transparente y eficaz .En nuestra visión queremos ser una empresa de referencia, que camina con el cambio de la tecnología y la sociedad.

                </p>
            </div>
        </div>
    </div>
</div>

