@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Servicios";
}

<div class="container">
    <div class="row" style="margin-top:20%">
        <div class="col-md-12">
            <div class="Servicio1">
                <img src="~/Images/Servicios/cambio-refrigerante-anticongelante-liquido-incluido--F1045.jpg" style="width: 98%;" />
                @*<img src="~/Images/Servicios/533037234.jpg" />*@
                @*<img src="~/Images/Servicios/Best-Synthetic-Oil-to-keep-your-car-running-well.jpg" />*@
                <h4 class="h3_SVR">Cambio de liquidos</h4>
                <p></p>
            </div>
            <div class="Servicio2">
                <img src="~/Images/Servicios/MONTALLATAS-PISTOLA-NEUMATICAS-1024x768.png" style="width: 98%;height: 135px;" />
                <h4 class="h3_SVR">Montallantas</h4>
                <p></p>
            </div>
            <div class="Servicio3">
                <img src="~/Images/Servicios/c700x420.jpg" style="width: 98%;height: 143px;" />
                <h4 class="h3_SVR">Lavado</h4>
                <p></p>
            </div>
            <div class="Servicio4">
                <img src="~/Images/Servicios/533037234.jpg" style="width: 98%;height: 143px;" />
                <h4 class="h3_SVR">Adictivos</h4>
                <p></p>
            </div>
            <div class="Servicio5">
                <img src="~/Images/Servicios/Best-Synthetic-Oil-to-keep-your-car-running-well.jpg" style="width: 98%;height: 143px;" />
                <h4 class="h3_SVR">Lubricantes</h4>
                <p></p>
            </div>
        </div>
    </div>
</div>

